.main__input-todo {
  display: flex;
}
.main__input-todo button {
  width: 50px;
  height: 40px;
  margin-left: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #550dc9;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}
.main__input-todo input {
  width: 100%;
  height: 40px;
  padding-left: 12px;

  border: 1px solid #ececec;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}
.main__input-todo input::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #cacaca;
}
