.main__conteiner {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main__conteiner-todo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.3%;
  width: 95%;
  height: 100%;
}
.main__bar {
  max-width: 52px;
  min-height: 95vh;
  background-color: #550dc9;
  text-align: center;
}
.main__bar img {
  background-color: #440ba0;
  margin-top: 24px;
  padding: 8.23px 18px;
}
.main__todo-list {
  width: 67%;
}
.main__total-count {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin-top: 8px;
  background: #fef6ff;
  border-radius: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #550dc9;
}
.main__added-count {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #373737;
}
.complited-list {
  width: 29%;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #373737;
}

@media (max-width: 768px) {
  .main__conteiner-todo-list {
    width: 100%;
    margin: 2.4%;
  }
  .main__todo-list {
    width: 100%;
  }
  .complited-list {
    width: 100%;
    margin-top: 2.4%;
  }
}
